<section class="my-3 p-3 bg-main-light rounded-3">
    <div class="d-flex justify-content-center align-items-center">
        <div class="step one"><span *ngIf="numberOne">1</span><i class="fa-solid fa-check text-main" *ngIf="iconOne"></i></div>
        <div class="step two mx-2"><span *ngIf="numberTwo">2</span><i class="fa-solid fa-check text-main" *ngIf="iconTwo"></i></div>
        <div class="step three"><span *ngIf="numberThree">3</span><i class="fa-solid fa-check text-main" *ngIf="iconThree"></i></div>
    </div>
    <form [formGroup]="forgotPassForm" *ngIf="stepOne">
        <div>
            <label class="ps-1" for="userEmail">Email</label>
            <input #emailInput class="form-control mt-2" type="email" id="userEmail" placeholder="Enter Your Email ...." formControlName="email">
            <div class="alert alert-danger mt-2 py-2" *ngIf="forgotPassForm.get('email')?.errors && (forgotPassForm.get('email')?.touched || emailInput.value.length > 0)">
                <p class="mb-0" *ngIf="forgotPassForm.get('email')?.getError('required')">Email is Required</p>
                <p class="mb-0" *ngIf="forgotPassForm.get('email')?.getError('email')">Email is inValid</p>
            </div>
        </div>
        <button #forgotBtn (click)="forgotPass(forgotBtn)" class="btn-main mt-3 d-block mx-auto" [disabled]="forgotPassForm.invalid">Forgot Password</button>
        <div class="p-2 mt-2 bg-main rounded-2 text-white text-center" *ngIf="resetCodeWasSent">{{resetCodeWasSent}}</div>
        <div class="alert alert-warning mt-2 text-center" *ngIf="forgotFormMsg">{{forgotFormMsg}}</div>
    </form>
    <form [formGroup]="resetCodeForm" *ngIf="stepTwo">    
        <div>
            <label class="ps-1" for="userResetCode">Verify Reset Code</label>
            <input #resetCodeInput class="form-control mt-2" type="text" id="userResetCode" placeholder="Enter Reset Code ...." formControlName="resetCode">
            <div class="alert alert-danger mt-2 py-2" *ngIf="resetCodeForm.get('resetCode')?.errors && (resetCodeForm.get('resetCode')?.touched || resetCodeInput.value.length > 0)">
                <p class="mb-0" *ngIf="resetCodeForm.get('resetCode')?.getError('required')">Reset Code is Required</p>
            </div>
        </div>
        <button #codeBtn (click)="resetCode(codeBtn)" class="btn-main mt-3 d-block mx-auto" [disabled]="resetCodeForm.invalid">Reset Code</button>
        <div class="alert alert-warning mt-2" *ngIf="codeFormMsg">{{codeFormMsg}}</div>
    </form>
    <form [formGroup]="resetPassForm" *ngIf="stepThree">
        <div>
            <label class="ps-1" for="newPassword">Reset Password</label>
            <input #passInput class="form-control mt-2" type="password" id="newPassword" placeholder="Enter new password" formControlName="newPassword">
            <div class="alert alert-danger mt-2 py-2" *ngIf="resetPassForm.get('newPassword')?.errors && (resetPassForm.get('newPassword')?.touched || passInput.value.length > 0)">
                <p class="mb-0" *ngIf="resetPassForm.get('newPassword')?.getError('required')">newPassword is Required</p>
                <p class="mb-0" *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">the first letter must be capital and contain (7-20)</p>
            </div>
        </div>
        <button #passBtn (click)="resetPass(passBtn)" class="btn-main mt-3 d-block mx-auto" [disabled]="resetPassForm.invalid">Reset Password</button>
        <div class="alert alert-warning mt-2" *ngIf="resetPassFormMsg">{{resetPassFormMsg}}</div>
    </form>
</section>

