.itemDetailsBox {
    justify-content: space-between;
}

@media screen and (max-width:500px) {
    .itemImg {
        height: 250px;
    }
    .payBtns {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:359px) {
    .itemDetailsBox {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
