/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Outfit", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.5s;

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: rgba(195, 192, 192, 0.926);
}
::-webkit-scrollbar-thumb{
  background-color: #50c050;
  border-radius: 10px;
}
::selection {
  background-color: $main-color;
  color: white;
}
.bold {
  font-weight: 600;
}

body {
  font-family: $font-family;
}

.nav-link {
  transition: unset;
}
.active-link {
  background-color: $main-color;
  color: $light-color !important;
  border-radius: 5px;
}

.rating-color {
  color: $rating-color;
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.bg-change{
  background-color: #F0F3F2 !important; 
}

.product {
  border-radius: 5px;
  border: solid 1px $main-color;
  transition: box-shadow $main-transition;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 10px #11bd1168;
    cursor: pointer;
  }
}
.payment {
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  background-color: #bc1414;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.priceBSale {
  width: fit-content;
  overflow: hidden;
}
.discountLine {
  height: 1px;
  z-index: 99;
}

.font-sm {
  font-size: 12px;
}
.text-main {
  color: $main-color;
}
.border-main {
  border: 2px solid $main-color;
}
.bg-main {
  background-color: $main-color !important;
}
.bg-main-light {
  background-color: $light-color !important;
}
.btn-main {
  background-color: $main-color;
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color $main-transition;

  &:hover {
    background-color: #11bd11;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }

  &:disabled:hover {
    background-color: #ccc;
  }
}


.product .product-footer {
  transform: translateY(120%);
  transition: transform $main-transition;
}
.product:hover .product-footer {
  transform: translateY(0);
}