<section class="rounded-3 py-3 my-3">
    <h1 class="text-main text-center mb-4">Update Password</h1>
    <form [formGroup]="updatePasswordForm" class=" rounded-3 bg-main-light p-3 pt-5">
        <div class="mb-2">
            <label class="ms-1" for="userCurrentpassword">Current Password</label>
            <div class="position-relative">
                <input #userCurrentpassword type="password" id="userCurrentpassword" formControlName="currentPassword" class="form-control my-1" placeholder="***********">
                <span *ngIf="userCurrentpassword.value.length > 0" class="position-absolute end-0 top-50 translate-middle-y me-2" role="button" (click)="showPass($event)"><i class="fa-solid fa-eye"></i></span>
                <span *ngIf="userCurrentpassword.value.length > 0" class="position-absolute end-0 top-50 translate-middle-y me-2 d-none" role="button" (click)="hidePass($event)"><i class="fa-solid fa-eye-slash"></i></span>
            </div>
            <div class="alert alert-danger mt-2 py-2" *ngIf="updatePasswordForm.get('currentPassword')?.errors && (updatePasswordForm.get('currentPassword')?.touched || userCurrentpassword.value.length > 0)">
                <p class="mb-0" *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')">password is required</p>
            </div>
        </div>
        <div class="mb-2">
            <label class="ms-1" for="userpassword">New Password</label>
            <div class="position-relative">
                <input #userpassword type="password" id="userpassword" formControlName="password" class="form-control my-1" placeholder="***********">
                <span *ngIf="userpassword.value.length > 0" class="position-absolute end-0 top-50 translate-middle-y me-2" role="button" (click)="showPass($event)"><i class="fa-solid fa-eye"></i></span>
                <span *ngIf="userpassword.value.length > 0" class="position-absolute end-0 top-50 translate-middle-y me-2 d-none" role="button" (click)="hidePass($event)"><i class="fa-solid fa-eye-slash"></i></span>
            </div>
            <div class="alert alert-danger mt-2 py-2" *ngIf="updatePasswordForm.get('password')?.errors && (updatePasswordForm.get('password')?.touched || userpassword.value.length > 0)">
                <p class="mb-0" *ngIf="updatePasswordForm.get('password')?.getError('required')">password is required</p>
                <p class="mb-0" *ngIf="updatePasswordForm.get('password')?.getError('pattern')">the first letter must be capital and contain (7-20)</p>
            </div>
        </div>
        <div class="mb-2">
            <label class="ms-1" for="userRePassword">RePassword</label>
            <div class="position-relative">
                <input #userRePassword type="password" id="userRePassword" formControlName="rePassword" class="form-control my-1" placeholder="***********">
                <span *ngIf="userRePassword.value.length > 0" class="position-absolute end-0 top-50 translate-middle-y me-2" role="button" (click)="showPass($event)"><i class="fa-solid fa-eye"></i></span>
                <span *ngIf="userRePassword.value.length > 0" class="position-absolute end-0 top-50 translate-middle-y me-2 d-none" role="button" (click)="hidePass($event)"><i class="fa-solid fa-eye-slash"></i></span>
            </div>
            <div class="alert alert-danger mt-2 py-2" *ngIf="updatePasswordForm.get('rePassword')?.errors && (updatePasswordForm.get('rePassword')?.touched || userRePassword.value.length > 0)">
                <p class="mb-0" *ngIf="updatePasswordForm.get('rePassword')?.getError('required')">rePassword is required</p>
                <p class="mb-0" *ngIf="updatePasswordForm.get('rePassword')?.getError('misMatch')">RePassword isn't match</p>
            </div>
        </div>
        
        <button (click)="update()" class="btn-main ms-auto d-block mt-3 mb-1" [disabled]="updatePasswordForm.invalid">UPdate</button>
        <div class="alert alert-danger mt-2" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
</section>
